body {
  font-family: Roboto, sans-serif;
  font-style: italic;
}
.position-ab {
  position: absolute;
}
.position-re {
  position: relative;
  top: -56px;
}
.list-style:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 10px;
  left: -35px;
  border-radius: 50%;
  background-color: #891818;
}
.text-border {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
  width: 430px;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.font-h1 {
  font-size: 80px;
  font-weight: bold;
}
.font-title {
  font-size: 64px;
  line-height: 84px;
}
.font-s {
  font-size: 20px;
  line-height: 42px;
  font-style: normal;
  text-align: center;
  font-weight: bold;
}
.font-m {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
}
.text-color {
  color: #ffffff;
}
.font-italic {
  font-style: italic;
}
.bg-color {
  background-color: #000;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-56 {
  margin-bottom: 56px;
}
.mb-64 {
  margin-bottom: 64px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-24 {
  margin-left: 24px;
}
/* 留白 */
.pt-64 {
  padding-top: 64px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-160 {
  padding-bottom: 160px;
}
